# Include the license file
include LICENSE

# Include the README
include README.rst

# Include the MANIFEST itself
include MANIFEST.in

# Include directory with test suite
recursive-include tests *.py

# Type support
recursive-include src py.typed
