[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "setuptools_scm[toml]>=3.4"
]
build-backend = "setuptools.build_meta"


[tool.setuptools_scm]
write_to = "src/hepunits/_version.py"


[tool.isort]
profile = "black"


[tool.pytest.ini_options]
minversion = "6.0"
junit_family = "xunit2"
testpaths = ["tests"]
filterwarnings = ["error"]
addopts = ["-ra", "--showlocals", "--strict-markers", "--strict-config"]
xfail_strict = true
log_cli_level = "DEBUG"


[tool.check-manifest]
ignore = [
    "src/hepunits/_version.py",
    ".pre-commit-config.yaml",
    "noxfile.py",
]


[tool.mypy]
warn_unused_configs = true
python_version = "3.6"
files = ["src"]
strict = true
