name: CI

on:
  pull_request:
  push:
    branches: [master]


jobs:
  pre-commit:
    name: Format
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: "3.x"
    - name: Check manifest
      uses: pre-commit/action@v3.0.0
      with:
        extra_args: --hook-stage manual

  checks:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.6"
        - "3.8"
        - "3.9"
        - "3.10"

    name: Check Python ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v4
      with:
        python-version: "3.x"

    - name: Install package
      run: python -m pip install -e .[test]

    - name: Test package
      run: python -m pytest --doctest-modules --cov=src/hepunits --cov-report=xml

    - name: Test coverage with Codecov
      uses: codecov/codecov-action@v3
